/* 全局与基础设置 */
html {
  font-size: 20px; /* 基础字号*/
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

a {
  color: #124578;
}

/*  */
header {
  color: #000000;
}

/*.title {
  display: flex;
}

.title > * {
  height: 30px;
}*/

header ul {
  height: 30px;
}

header li {
  width: 150px;
}

.bar > ul {
  display: flex;
}

/*  */
.left-right {
  display: flex;
}

.left-right > div {
  width: 50%;
}
