/* 全局与基础设置 */
html {
  font-size: 20px; /* 基础字号*/
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

a {
  color: #124578;
}

/*  */
header {
  color: #000000;
}

.title {
  display: inline-flex;
  height: auto;
}

.bar {
  background-color: aquamarine;
}

.bar > ul {
  display: flex;
  list-style: none;
}

.bar > ul > li {
  margin: auto;
}

/*  */
.left-right {
  display: flex;
}

.left-right > div {
  width: 50%;
}
